body
{
	/* backgroud from subtle patterns.com */
	background-image: url("img/gray.png");
	color: #ffffff;
	font-size: 28px;
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
}

#index
{
	width: 1200px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: justify;
	margin-bottom: 30px;
	margin-top: 30px;

}

#container
{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 130px;
	-webkit-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
	box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
}

a
{
	text-decoration: none;
	color: #004400;
	cursor: pointer;
	font-size: 50px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 5px dashed #004400;
}

a:hover
{
	cursor: pointer;
	color: #777700;
	border: 5px dashed #777700;
}

#pojemnik
{
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
}

#plansza
{
	width: 1300px;
	margin-top: 40px;
	margin-bottom: 130px;
	text-align: center;
	font-size: 68px;
	min-height: 72px;
}

#szubienica
{
	float: left;
	width: 600px;
	text-align: center;
	min-height: 373px;			/* taką wysokość ma moje zdjęcie po to aby po chwili zmiany zdjęcia ten div mi nie skakał (chodzi o jego wysokość o której decyduje zawartość diva.. dlatego min jest = wysokości zdjęcia) */
	-webkit-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
	box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
	background-image: url("img/gray.png");
}

#alfabet
{
	float: left;
	width: 600px;
	text-align: center;
	text-align: center;
	font-size: 45px;
	margin-left: 100px;
}

.litera
{
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.reset
{
	color: green;
	cursor: pointer;
	font-size: 48px;
}

#przebieg
{
	width: 1300px;
	margin-top: 60px;
	text-align: right;
	margin-left: auto;
	margin-right: 370px;
}